html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.connection__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.connection__item {
}

.connection__item img {
}

.connection__item button {
  padding: 16px;
  width: 100%;
  text-align: left;
  border: 0px;
}

.connection__item__title {
  margin-left: 24px;
  line-height: 32px;
}
