@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.donate__step {
  border-bottom: 5px solid $color-grey;
  color: $color-grey-dark;
  cursor: pointer;
}

.donate__step.donate__step__active {
  border-bottom: 5px solid $primary;
  color: $color-dark;
  font-weight: bold;
}

.donate__step span {
  padding-left: 16px;
  line-height: 32px;
}

.connection__chain__list {
}

.connection__chain__title {
  padding: 16px;
  font-size: 1rem;
  margin: 32px 0px 16px 0px;
  line-height: 32px;
}

.connection__chain__title span {
  margin-left: 16px;
  line-height: 32px !important;
}

.connection__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.connection__item {
}

.connection__item img {
}

.connection__item button {
  padding: 16px;
  width: 100%;
  text-align: left;
  border: 0px;
}

.connection__item__title {
  margin-left: 24px;
  line-height: 32px;
}

.donate__form__amount__input,
.donate__form__nft__input,
.donate__form__kyc__input,
.donate__form__tca__input {
  background-color: $color-grey-light !important;
  padding: 8px 16px !important;
}
