@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Page {
  margin-top: 90px;
}

@for $i from 1 through 12 {
  .p-rem-#{$i} {
    padding: 0.25rem * $i !important;
  }
  .pl-rem-#{$i} {
    padding-left: 0.25rem * $i !important;
  }
  .pr-rem-#{$i} {
    padding-right: 0.25rem * $i !important;
  }
  .pt-rem-#{$i} {
    padding-top: 0.25rem * $i !important;
  }
  .pb-rem-#{$i} {
    padding-bottom: 0.25rem * $i !important;
  }
  .px-rem-#{$i} {
    padding-left: 0.25rem * $i !important;
    padding-right: 0.25rem * $i !important;
  }
  .py-rem-#{$i} {
    padding-top: 0.25rem * $i !important;
    padding-bottom: 0.25rem * $i !important;
  }

  .m-rem-#{$i} {
    margin: 0.25rem * $i !important;
  }
  .ml-rem-#{$i} {
    margin-left: 0.25rem * $i !important;
  }
  .mr-rem-#{$i} {
    margin-right: 0.25rem * $i !important;
  }
  .mt-rem-#{$i} {
    margin-top: 0.25rem * $i !important;
  }
  .mb-rem-#{$i} {
    margin-bottom: 0.25rem * $i !important;
  }
  .mx-rem-#{$i} {
    margin-left: 0.25rem * $i !important;
    margin-right: 0.25rem * $i !important;
  }
  .my-rem-#{$i} {
    margin-top: 0.25rem * $i !important;
    margin-bottom: 0.25rem * $i !important;
  }
}

.bg-grey-light {
  background-color: $color-grey-light !important;
}

.font-light {
  font-weight: 200;
}

.font-xs {
  font-size: x-small;
}

.btn-twitter-blue {
  background-color: #1b9df0 !important;
  color: #fff !important;
  line-height: 24px !important;
  font-size: 18px !important;
  border-radius: 27px !important;
  img {
    // vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
  }
}

.btn-outline-dark {
  &:hover {
    background-color: #111 !important;
  }
}

// .donate__step {
//   border-bottom: 5px solid $color-grey;
//   color: $color-grey-dark;
//   cursor: pointer;
// }

// .donate__step.donate__step__active {
//   border-bottom: 5px solid $primary;
//   color: $color-dark;
//   font-weight: bold;
// }

// .donate__step span {
//   padding-left: 16px;
//   line-height: 32px;
// }

// .connection__chain__list {
// }

// .connection__chain__title {
//   padding: 16px;
//   font-size: 1rem;
//   margin: 32px 0px 16px 0px;
//   line-height: 32px;
// }

// .connection__chain__title span {
//   margin-left: 16px;
//   line-height: 32px !important;
// }

// .connection__list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .connection__item {
// }

// .connection__item img {
// }

// .connection__item button {
//   padding: 16px;
//   width: 100%;
//   text-align: left;
//   border: 0px;
// }

// .connection__item__title {
//   margin-left: 24px;
//   line-height: 32px;
// }

// .donate__form__amount__input {
// }
//.donate__form__manual_wallet__input,
//.donate__form__txhash__input,
//.donate__form__amount__input,
//.donate__form__nft__input,
//.donate__form__kyc__input,
//.donate__form__tca__input {
//  // background-color: $color-grey-light !important;
//  padding: 8px 16px !important;
//
//  &::placeholder {
//    /* Chrome, Firefox, Opera, Safari 10.1+ */
//    color: #bbb !important;
//    opacity: 1;
//  }
//
//  &:-ms-input-placeholder {
//    /* Internet Explorer 10-11 */
//    color: #bbb !important;
//  }
//
//  &::-ms-input-placeholder {
//    /* Microsoft Edge */
//    color: #bbb !important;
//  }
//}
