@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

// Vendor
@import './node_modules/swiper/swiper.scss';

// Theme
@import 'themebau';

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: #001328;
  mix-blend-mode: screen;
}

.Button__gradient {
  background: -webkit-linear-gradient(315deg, #4be8c7, $primary);
}

.Text__gradient {
  background: -webkit-linear-gradient(315deg, #5494f8, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Planets {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  z-index: 100;
  top: 150px;
  margin-top: -80px;

  @include media-breakpoint-up(sm) {
    top: 150px;
    margin-top: -80px;
  }

  @include media-breakpoint-up(md) {
    top: 170px;
    margin-top: -90px;
  }

  @include media-breakpoint-up(lg) {
    top: 200px;
    margin-top: -90px;
  }
}