@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

// Vendor
@import './node_modules/swiper/swiper.scss';

// Theme
@import 'themebau';

.Text__gradient {
  background: -webkit-linear-gradient(315deg, #5494f8, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redddd {
  background: red;
  color: red;
}

.Planets {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  z-index: 100;
  top: 150px;
  margin-top: -80px;

  @include media-breakpoint-up(sm) {
    top: 150px;
    margin-top: -80px;
  }

  @include media-breakpoint-up(md) {
    top: 200px;
    margin-top: -90px;
  }
}